/* Custom Var ----------------------------------------------------- */
:root {
  /* Font & Spacing Size */
  --sm: 5px;
  --md: 25px;
  --lg: 48px;
  --xl: 85px;
  --xxl: 200px;
  --font-normal: 16px;
  --font-md: 18px;
  --font-lg: 24px;
  --font-title: 128px;
  --font-subtitle: 64px;
  /* window size */
  --windowsize: 1080px;
  --windowsizeX: 32px;
}

/* Global ----------------------------------------------------- */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

svg * {
  transform-box: fill-box;
}

/* Tags ----------------------------------------------------- */
body {
  background-color: var(--bg-color);
  font-family: 'Lato', sans-serif;
  color: var(--font-color);
  font-weight: 400;
  font-size: var(--font-normal);
  margin: 0px;
}

ul {
  list-style-type: none;
  padding: 0px;
}

a {
  text-decoration: none;
  color: var(--accent);
}

:is(h1, h2, h3, h4, h5, h6) {
  margin: 0px;
}

h1 {
  font-size: var(--font-lg);
  font-weight: 900;
}

h2 {
  font-size: var(--font-md);
}

p {
  margin: 0px;
}
span {
  display: inline-block;
  margin-top: 1px;
  margin-bottom: 1px;
}

/* Flex Base Styles ----------------------------------------------------- */

.flex-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: end;
  gap: var(--windowsizeX);
}

.flex-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 100px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.flex-description {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 12px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: start;
}

.focus-layout {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-color);
  color: var(--font-color);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 0px 85px 85px 0px;
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}
.focus-layout-right {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--bg-color);
  color: var(--font-color);
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 400px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-radius: 85px 0px 0px 85px;
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.focus-layout-right:hover,
.focus-layout:hover {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  cursor: pointer;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.current-layout {
  -webkit-transition-duration: 3s;
  -o-transition-duration: 3s;
  transition-duration: 3s;
  color: var(--font-color);
  -webkit-box-shadow: none;
  box-shadow: none;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
}

.jc {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

/* Sidebars------------------------------------------- */
.profile-sidebar {
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 380px;
  height: var(--windowsize);
  padding: 44px;
  gap: 32px;
  border-radius: 0px 0px 85px 85px;
  background-color: var(--bg-color);
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.mini-sidebar {
  -webkit-transition-duration: 2s;
  -o-transition-duration: 2s;
  transition-duration: 2s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 80px;
  height: var(--windowsize);
  padding: 32px 0px 32px 0px;
  gap: 32px;
  border-radius: 0px 0px 85px 85px;
  background-color: var(--bg-color);
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-img {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('https://avatars.githubusercontent.com/u/138417934?v=4');
  max-width: 180px;
  max-height: 180px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  border-radius: 200px;
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
}

.sticky-block {
  position: sticky;
  z-index: 3;
  top: 0%;
}

.icon-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
  max-height: 32px;
}

/* Buttons ------------------------------------------- */
button,
.btn {
  background-color: var(--bg-color-1);
  font-size: inherit;
  color: var(--font-color);
  border-width: 0px;
  border-radius: 85px;
  height: auto;
  padding-top: 7px;
  padding-bottom: 7px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: auto;
  text-align: center;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

button:hover,
.btn:hover {
  -webkit-transition-duration: .8s;
  -o-transition-duration: .8s;
  transition-duration: .8s;
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
}

.btn-info {
  margin-left: 4px;
  margin-right: 4px;
  height: auto;
  max-width: 100px;
}

.icon {
  height: 50px;
}

.btn-icon {
  padding: 4px;
  background-color: rgba(0, 0, 0, 0);
  width: 38px;
}

.btn-flipped {
  padding-left: 20px;
  padding-right: 20px;
}

.button-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
}

.button-sideways-layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 12px;
}

/* Fonts --------------------------------------------- */
.font-position {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
}
.font-position:hover {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  -webkit-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  transform: rotate(0deg);
}

.title {
  font-size: var(--font-title);
}

.f-outline {
  color: var(--bg-color);
  text-shadow: 1px 1px 1px var(--font-color), -1px -1px 1px var(--font-color), -1px 1px 1px var(--font-color), 1px -1px 1px var(--font-color);
}

.align {
  text-align: center;
  margin-top: auto;
}

/* Margin -------------------------------------------- */
.m-tb {
  margin-top: auto;
  margin-bottom: auto;
}

.m-lr {
  margin-left: auto;
  margin-right: auto;
}

.p-lr {
  padding-left: 46px;
  padding-right: 46px;
}

.p-tb {
  padding-top: 46px;
  padding-bottom: 12px;
}

.m-b {
  margin-bottom: auto;
}

/* Pannels ------------------------------------------- */
.pannel {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  background-color: var(--bg-color);
  border-radius: 25px;
  width: 580px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 300px;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.pannel:hover {
  -webkit-box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.7);
  box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.7);
}

.round-pannel {
  border-radius: 85px;
}

.strip {
  -webkit-transition-duration: 1s;
  -o-transition-duration: 1s;
  transition-duration: 1s;
  background-color: var(--bg-color);
  border-radius: 25px;
  width: 580px;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.layout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: 32px;
}

.collapse {
  gap: 32px;
}

.list {
  list-style-type: circle;
  padding-left: 20px;
}

.list li {
  margin: 12px;
}

.footer {
  background-color: var(--bg-switch);
  height: 220px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  gap: var(--windowsizeX);
  -webkit-box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2);
  box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2);
}

.chat-background {
  background-image: url(../img/logo-line.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 78%;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  height: 480px;
}

.img-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: auto;
  border-radius: 85px;
  -webkit-box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
  box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.25);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: auto;
  max-width: -webkit-max-content;
  max-width: -moz-max-content;
  max-width: max-content;
  max-height: -webkit-max-content;
  max-height: -moz-max-content;
  max-height: max-content;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.img-select {
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.hide,
.is-hidden {
  display: none;
}

.font-color {
  color: var(--font-color);
  text-shadow: 1px 1px 2px var(--font-color-alt),
    0 0 1em var(--font-color-alt), 0 0 0.2em var(--font-color-alt);
}

.switch {
  color: var(--font-color-alt);
}

.accent {
  color: var(--accent);
}

.tag {
  background-color: var(--font-color);
  color: var(--font-color-alt);
  border-radius: 2px;
  padding: 0px 12px;
  text-transform: uppercase;
  line-height: 1.6;
}

.underline {
  text-decoration: underline overline;
  text-underline-offset: 20%;
  text-decoration-thickness: .5px;
}

/* Screen Sizes -------------------------------------- */
@media all and (max-width: 375px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 14px;
    --font-lg: 16px;
    --font-title: 36px;
    /* window size */
    --windowsize: 600px;
    --windowsizeX: 0px;
  }

  .img-box {
    margin: 0px;
    border-radius: 45px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-sidebar {
    display: none;
  }

  .mini-sidebar {
    width: 42px;
  }

  .p-lr {
    padding-left: 12px;
    padding-right: 12px;
  }

  .arrow {
    display: none;
  }

  .min-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }

  .focus-layout-right,
  .focus-layout {
    height: 200px;
  }

  .footer {
    height: 180px;
  }

  .img-select {
    width: 200px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flip {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media all and (min-width: 375px) and (max-width: 720px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 14px;
    --font-lg: 16px;
    --font-title: 36px;
    /* window size */
    --windowsize: 600px;
    --windowsizeX: 0px;
  }

  .img-box {
    margin: 0px;
    border-radius: 60px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-sidebar {
    display: none;
  }

  .mini-sidebar {
    width: 42px;
  }

  .p-lr {
    padding-left: 12px;
    padding-right: 12px;
  }

  .focus-layout-right,
  .focus-layout {
    height: 200px;
  }

  .arrow {
    display: none;
  }

  .min-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }

  .img-select {
    width: 375px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .flip {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media all and (min-width: 720px) and (max-width: 780px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 16px;
    --font-lg: 24px;
    --font-title: 48px;
    /* window size */
    --windowsize: 600px;
    --windowsizeX: 0px;
  }
  .img-box {
    margin: 0px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-sidebar {
    display: none;
  }

  .mini-sidebar {
    width: 42px;
  }

  .p-lr {
    padding-left: 12px;
    padding-right: 12px;
  }

  .arrow {
    display: none;
  }

  .min-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row wrap;
    flex-flow: row wrap;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .img-select {
    width: 640px;
  }
  .flip {
    display: flex;
    flex-direction: column-reverse;
  }
}

@media all and (min-width: 780px) and (max-width: 1020px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 16px;
    --font-lg: 24px;
    --font-title: 48px;
    /* window size */
    --windowsize: 600px;
    --windowsizeX: 0px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-sidebar {
    display: none;
  }

  .mini-sidebar {
    width: 42px;
  }

  .p-lr {
    padding-left: 12px;
    padding-right: 12px;
  }

  .arrow {
    display: none;
  }

  .min-width {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    gap: 12px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .img-box {
    width: 350px;
    border-radius: 50px;
    margin: auto;
  }

  .img-select {
    width: 640px;
  }
}

@media all and (min-width: 1020px) and (max-width: 1280px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 16px;
    --font-lg: 24px;
    --font-title: 48px;
    /* window size */
    --windowsize: 800px;
    --windowsizeX: 0px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .is-hidden {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }

  .profile-sidebar {
    display: none;
  }

  .mini-sidebar {
    width: 60px;
  }

  .p-lr {
    padding-left: 12px;
    padding-right: 12px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .img-box {
    width: 400px;
    border-radius: 50px;
    margin: auto;
  }

}

@media all and (min-width: 1280px) and (max-width: 1920px) {
  :root {
    /* font size */
    --font-normal: 12px;
    --font-md: 16px;
    --font-lg: 24px;
    --font-title: 64px;
    /* window size */
    --windowsize: 1080px;
    --windowsizeX: 0px;
  }

  .jc {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: start;
  }

  .mini-sidebar {
    width: 60px;
  }

  .collapse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-flow: row;
    flex-flow: row;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    gap: 12px;
  }
  .img-box {
    width: 600px;
    border-radius: 50px;
    margin: auto;
  }


}

@media (prefers-color-scheme: light) {
  :root {
    /* Font Color */
    --font-color: rgb(0, 0, 0);
    --font-color-alt: rgb(214, 214, 214);
    --accent: rgb(111, 71, 255);
    /* Background Color */
    --bg-color: rgb(250, 250, 250);
    /* birghter */
    --bg-color-1: rgb(220, 220, 220);
    --bg-color-2: rgb(230, 230, 230);
    --bg-color-Opacity: rgba(200, 200, 200, 0.8);
    --bg-switch: rgba(41, 41, 41, 0.8);
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    /* Font Color */
    --font-color: rgb(214, 214, 214);
    --font-color-alt: rgb(41, 41, 41);
    --accent: rgb(111, 71, 255);
    /* Background Color */
    --bg-color: rgb(41, 41, 41);
    /* birghter */
    --bg-color-1: rgb(50, 50, 50);
    --bg-color-2: rgb(60, 60, 60);
    --bg-color-Opacity: rgba(41, 41, 41, 0.8);
    --bg-switch: rgba(250, 250, 250, 0.8);
  }
}