/* Custom Var ----------------------------------------------------- */
:root {
    /* Font & Spacing Size */
    --sm: 5px;
    --md: 25px;
    --lg: 48px;
    --xl: 85px;
    --xxl: 200px;
    --font-normal: 16px;
    --font-md: 18px;
    --font-lg: 24px;
    --font-title: 128px;
    --font-subtitle: 64px;
    /* window size */
    --windowsize: 1080px;
    --windowsizeX: 32px;
}

/* Global ----------------------------------------------------- */
* {
    box-sizing: border-box;
}

svg * {
    transform-box: fill-box;
}

/* Tags ----------------------------------------------------- */
body {
    background-color: var(--bg-color);
    font-family: 'Lato', sans-serif;
    color: var(--font-color);
    font-weight: 400;
    font-size: var(--font-normal);
    margin: 0px;
}

ul {
    list-style-type: none;
    padding: 0px;
}

a {
    text-decoration: none;
    color: var(--accent);
}

:is(h1, h2, h3, h4, h5, h6) {
    margin: 0px;
}

h1 {
    font-size: var(--font-lg);
    font-weight: 900;
}

h2 {
    font-size: var(--font-md);
}

p {
    margin: 0px;
}

/* Flex Base Styles ----------------------------------------------------- */

.flex-layout {
    display: flex;
    width: 100%;
    flex-direction: row;
    justify-content: end;
    gap: var(--windowsizeX);
}

.flex-content {
    display: flex;
    width: 100%;
    gap: 100px;
    flex-direction: column;
    justify-content: start;
}

.flex-description {
    display: flex;
    width: 100%;
    gap: 12px;
    flex-direction: column;
    justify-content: start;
}

.focus-layout {
    transition-duration: 1s;
    display: flex;
    background-color: var(--bg-color);
    color: var(--font-color);
    flex-grow: 1;
    height: 400px;
    justify-content: center;
    border-radius: 0px 85px 85px 0px;
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.focus-layout:hover {
    transition-duration: 1s;
    cursor: pointer;
    flex-grow: 3;
}

.current-layout {
    transition-duration: 3s;
    color: var(--font-color);
    box-shadow: none;
    flex-grow: 3;
}

/* Sidebars------------------------------------------- */
.profile-sidebar {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 380px;
    height: var(--windowsize);
    padding: 44px;
    gap: 32px;
    border-radius: 0px 0px 85px 85px;
    background-color: var(--bg-color);
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.mini-sidebar {
    transition-duration: 2s;
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80px;
    height: var(--windowsize);
    padding: 32px 0px 32px 0px;
    gap: 32px;
    border-radius: 0px 0px 85px 85px;
    background-color: var(--bg-color);
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.2);
}

.profile-img {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('https://avatars.githubusercontent.com/u/138417934?v=4');
    max-width: 180px;
    max-height: 180px;
    flex-grow: 1;
    width: 100%;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
    border-radius: 200px;
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
}

.sticky-block {
    position: sticky;
    z-index: 3;
    top: 0%;
}

.icon-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    max-height: 32px;
}

/* Buttons ------------------------------------------- */
button,
.btn {
    background-color: var(--bg-color-1);
    font-size: inherit;
    color: var(--font-color);
    border-width: 0px;
    border-radius: 85px;
    height: 32px;
    padding-top: 7px;
    padding-bottom: 7px;
    align-items: center;
    margin: auto;
    text-align: center;
    flex-grow: 1;
}

button:hover,
.btn:hover {
    transition-duration: .8s;
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.70);
}

.btn-info{
    margin-left: 4px;
    margin-right: 4px;
    height: auto;
    max-width: 100px;
}

.icon {
    height: 50px;
}

.btn-icon {
    padding: 4px;
    background-color: rgba(0, 0, 0, 0);
}

.btn-flipped {
    padding-left: 20px;
    padding-right: 20px;
}

.button-layout {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

.button-sideways-layout {
    display: flex;
    transform: rotate(90deg);
    flex-direction: row;
    justify-content: center;
    gap: 12px;
}

/* Fonts --------------------------------------------- */
.font-position {
    transform: rotate(-90deg);
}

.title {
    font-size: var(--font-title);
}

.f-outline {
    color: var(--bg-color);
    text-shadow: 1px 1px 1px var(--font-color), -1px -1px 1px var(--font-color), -1px 1px 1px var(--font-color), 1px -1px 1px var(--font-color);
}

/* Margin -------------------------------------------- */
.m-tb {
    margin-top: auto;
    margin-bottom: auto;
}

.m-lr {
    margin-left: auto;
    margin-right: auto;
}

.p-lr {
    padding-left: 46px;
    padding-right: 46px;
}

/* Pannels ------------------------------------------- */
.pannel {
    transition-duration: 1s;
    background-color: var(--bg-color);
    border-radius: 85px;
    width: 380px;
    flex-grow: 1;
    height: 300px;
    box-shadow: 0 8px 8px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    justify-content: center;
}

.pannel:hover {
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.7);
}

.round-pannel {
    border-radius: 85px;
}

.layout {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    gap: 32px;
}

/* .code {
    
} */

.footer {
    background-color: var(--bg-switch);
    height: 220px;
    justify-content: center;
    gap: var(--windowsizeX);
    box-shadow: 0 -8px 8px 0 rgba(0, 0, 0, 0.2);
}

.chat-background {
    background-image: url(../img/logo-line.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 100% 78%;
    flex-grow: 1;
    height: 480px;
}

.img-box {
    border-radius: 85px;
    box-shadow: inset 0 8px 8px 0 rgba(0, 0, 0, 0.7);
    height: 565px;
    background-repeat: no-repeat;
    background-size: cover;

}

.is-hidden {
    display: none;
}

.switch {
    color: var(--font-color-alt);
}

.accent {
    color: var(--accent);
}

/* Screen Sizes -------------------------------------- */
@media all and (max-width: 375px) {
    :root {
        /* font size */
        --font-normal: 12px;
        --font-md: 14px;
        --font-lg: 16px;
        --font-title: 36px;
        /* window size */
        --windowsize: 600px;
        --windowsizeX: 0px;
    }

    .is-hidden {
        display: flex;
    }

    .profile-sidebar {
        display: none;
    }

    .mini-sidebar {
        width: 42px;
    }

    .p-lr {
        padding-left: 12px;
        padding-right: 12px;
    }

    .pannel {
        width: 240px;
        height: 240px;
    }

    .arrow {
        display: none;
    }

    .min-width {
        flex-direction: column;
        gap: 12px;
    }

    .footer {
        height: 180px;
    }

    .img-box {
        height: 100px;
    }
}

@media all and (min-width: 375px) and (max-width: 720px) {
    :root {
        /* font size */
        --font-normal: 12px;
        --font-md: 14px;
        --font-lg: 16px;
        --font-title: 36px;
        /* window size */
        --windowsize: 600px;
        --windowsizeX: 0px;
    }

    .is-hidden {
        display: flex;
    }

    .profile-sidebar {
        display: none;
    }

    .mini-sidebar {
        width: 42px;
    }

    .p-lr {
        padding-left: 12px;
        padding-right: 12px;
    }

    .pannel {
        width: 300px;
    }

    .arrow {
        display: none;
    }

    .min-width {
        flex-direction: column;
        gap: 12px;
    }

    .img-box {
        height: 200px;
    }
}

@media all and (min-width: 720px) and (max-width: 1020px) {
    :root {
        /* font size */
        --font-normal: 12px;
        --font-md: 16px;
        --font-lg: 24px;
        --font-title: 48px;
        /* window size */
        --windowsize: 600px;
        --windowsizeX: 0px;
    }

    .is-hidden {
        display: flex;
    }

    .profile-sidebar {
        display: none;
    }

    .mini-sidebar {
        width: 42px;
    }

    .p-lr {
        padding-left: 12px;
        padding-right: 12px;
    }

    .pannel {
        width: 320px;
    }

    .arrow {
        display: none;
    }

    .min-width {
        flex-direction: column;
        gap: 12px;
    }
}

@media all and (min-width: 1020px) and (max-width: 1280px) {
    :root {
        /* font size */
        --font-normal: 12px;
        --font-md: 16px;
        --font-lg: 24px;
        --font-title: 48px;
        /* window size */
        --windowsize: 800px;
        --windowsizeX: 0px;
    }

    .is-hidden {
        display: flex;
    }

    .profile-sidebar {
        display: none;
    }

    .mini-sidebar {
        width: 60px;
    }

    .p-lr {
        padding-left: 12px;
        padding-right: 12px;
    }

}

@media all and (min-width: 1280px) and (max-width: 1920px) {
    :root {
        /* font size */
        --font-normal: 12px;
        --font-md: 16px;
        --font-lg: 24px;
        --font-title: 64px;
        /* window size */
        --windowsize: 1080px;
        --windowsizeX: 0px;
    }

    .mini-sidebar {
        width: 60px;
    }

}

@media (prefers-color-scheme: light) {
    :root {
        /* Font Color */
        --font-color: rgb(0, 0, 0);
        --font-color-alt: rgb(214, 214, 214);
        --accent: rgb(111, 71, 255);
        /* Background Color */
        --bg-color: rgb(214, 214, 214);
        /* birghter */
        --bg-color-1: rgb(220, 220, 220);
        --bg-color-2: rgb(230, 230, 230);
        --bg-color-Opacity: rgba(200, 200, 200, 0.8);
        --bg-switch: rgba(41, 41, 41, 0.8);
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        /* Font Color */
        --font-color: rgb(214, 214, 214);
        --font-color-alt: rgb(41, 41, 41);
        --accent: rgb(111, 71, 255);
        /* Background Color */
        --bg-color: rgb(41, 41, 41);
        /* birghter */
        --bg-color-1: rgb(50, 50, 50);
        --bg-color-2: rgb(60, 60, 60);
        --bg-color-Opacity: rgba(41, 41, 41, 0.8);
        --bg-switch: rgba(214, 214, 214, 0.8);
    }
}