/* Custom Var ----------------------------------------------------- */
:root {
    /* Colors */
    --font-dark: rgb(255, 255, 255);
    --font-light: rgb(0, 0, 0);
    /* -------------- */
    --bg-dark: rgb(41, 41, 41);
    --bg-light: rgb(214, 214, 214);
    /* birghter */
    --bg-dark-1: color-mix(in srgb, var(--bg-dark) 90%, black);
    --bg-dark-2: color-mix(in srgb, var(--bg-dark) 80%, black);
    --bg-dark-Opacity: rgba(41, 41, 41, .8);
    --bg-light-1: color-mix(in srgb, var(--bg-light) 90%, white);
    --bg-light-2: color-mix(in srgb, var(--bg-light) 80%, white);
    --bg-light-Opacity: rgba(200, 200, 200, 0.8);
    /* -------------- */
    --primary: rgb(172, 219, 0);
    --secondary: rgb(255, 187, 15);
    --accent: rgb(48, 0, 219);
    /* Font & Spacing Size */
    --sm: 5px;
    --md: 25px;
    --lg: 50px;
    --xl: 100px;
    --xxl: 200px;
    --font-normal: 22px;
    --font-lg: 32px;
}

/* Global ----------------------------------------------------- */
* {
    box-sizing: border-box;
}

svg * {
    transform-box: fill-box;
}

/* Tags ----------------------------------------------------- */
body {
    display: grid;
    background-color: var(--bg-dark);
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: var(--font-normal);
    margin: 0px;
}

header {
    height: 100px;
}

a {
    color: var(--accent);
    text-decoration: none;
    background-color: none;
}

a:hover {
    background-color: none;
}

ul {
    list-style-type: none;
    padding: 0px;
}

table {
    margin: auto;
}

h1 {
    margin: auto;
}

/* Flex Base Styles ----------------------------------------------------- */
.flex-container {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 5px;
}

.flex-description {
    display: flex;
    justify-content: center;
    width: 100%;
    max-width: 2560px;
    height: 100%;
    padding: 50px;
    margin: auto;
}

.flex-about {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 5px;
}

.flex-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    margin: auto;
}

/* Nav ----------------------------------------------------- */
.nav-logo {
    text-align: center;
    padding: var(--sm);
    flex-grow: 1;
    max-width: 50px;
    color: var(--font-dark);
    background-image: url("../img/mp-logo.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.nav-bar {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.nav-btn {
    width: 50px;
    margin: auto;
}

.nav-btn:active {
    width: 60px;
}

.nav-btn-current {
    width: 80px;
    height: 50px;
    margin: auto;
}

/* Currently off due to testing */
.nav-right {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 484px;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 100%;
    z-index: 2;
}

.nav-large {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 90%;
    justify-content: center;
    align-items: center;
    height: 100%;
    z-index: 2;
}

/* Pannels ----------------------------------------------------- */
.pannel {
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    transition: .5s;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 0%;
    width: 100%;
    height: 348px;
    margin: 0px 2px 0px 2px;
}

.pannel:hover {
    transition: .5s;
    height: 420px;
    border-bottom: 150px solid;
    border-color: var(--bg-dark-Opacity)
}

.pannel-hidden {
    min-width: 524px;
    width: 524px;
    height: 348px;
}

.hide-info {
    position: relative;
    padding: var(--sm);
    color: var(--font-dark);
    text-shadow: 2px 4px 4px rgba(45, 47, 51, 0.6);
    visibility: hidden;
    opacity: 0;
}

.btn-block {
    position: relative;
    flex-grow: 0;
    width: var(--xxl);
    height: var(--lg);
    max-height: 50px;
}

.text-block {
    position: relative;
    text-align: center;
    height: var(--lg);
    font-size: var(--font-md);
    top: 75px;
    color: var(--font-dark);
}

.show-info:hover .hide-info {
    visibility: visible;
    opacity: 1;
}

.portrait {
    width: 322px;
    border-radius: 100%;
    border: var(--sm) solid var(--accent);
    margin: auto;
}

.profile {
    display: grid;
    padding: var(--md);
    grid-template-columns: 1fr 1fr;
    max-width: 1200px;
}

.form {
    background-color: var(--bg-dark-2);
    text-align: center;
    margin: auto;
    margin-top: var(--md);
    max-width: 400px;
    padding: var(--md);
    border-radius: var(--md);
    border: var(--sm) solid var(--accent);
}

.inner-form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    padding-bottom: var(--md);
}

input[type=submit] {
    font-family: inherit;
    text-decoration: none;
    margin: auto;
}

/* Title Text ----------------------------------------------------- */
.title {
    position: absolute;
    text-align: center;
    color: var(--font-dark);
    font-size: var(--xl);
    text-shadow: 2px 4px 4px rgba(45, 47, 51, 0.6);
    z-index: 2;
    margin-top: var(--xl);
}

.show-title {
    visibility: visible;
    opacity: 1;
    transition: opacity .2s, visibility .2s;
}

.hide-title:hover .show-title {
    visibility: hidden;
    opacity: 0.8;
}

/* Style Box ----------------------------------------------------- */
.h-box {
    justify-content: center;
    flex-grow: 1;
    max-width: 442px;
    height: 1268px;
    background-color: var(--bg-light-Opacity);
    margin: auto;
}

.f-box {
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.c-box {
    justify-content: center;
    flex-grow: 1;
    align-items: center;
    text-align: center;
    max-width: 2400px;
    padding: 5px;
    margin: auto;
}

.m-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    height: 1268px;
    background-color: var(--bg-light-Opacity);
    margin: auto;
}

.m-1-box {
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-grow: 1;
    width: 95%;
    height: 95%;
    background-color: var(--bg-light);
    margin: auto;
}

.s-box {
    height: 100%;
    margin: auto;
}

.about {
    text-align: center;
}

.about-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0%;
    justify-content: center;
    align-items: center;
    width: 524px;
    height: 100%;
}

.about-l-box {
    position: fixed;
    display: flex;
    flex-direction: column;
    right: 0%;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

/* Buttons ----------------------------------------------------- */
.btn,
button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    cursor: pointer;
    padding: 12px;
    margin: var(--sm);
    align-items: center;
    max-height: 60px;
}

.btn:hover,
button:hover {
    transition: .3s;
}

/* Colors ----------------------------------------------------- */
.primary {
    border: none;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--font-light);
}

.primary:hover {
    background-color: var(--bg-dark-1);
    border: 2px solid var(--primary);
    text-decoration: none;
    color: var(--font-dark);
}

.primary-outlined {
    background-color: var(--bg-dark-1);
    border: 2px solid var(--primary);
    text-decoration: none;
    color: var(--font-dark);
}

.primary-outlined:hover {
    border: none;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--font-light);
}

/* -------------- */
.secondary {
    border: none;
    background-color: var(--secondary);
    text-decoration: none;
    color: var(--font-light);
}

.secondary:hover {
    background-color: var(--bg-dark-1);
    border: 2px solid var(--secondary);
    text-decoration: none;
    color: var(--font-dark);
}

.secondary-outlined {
    background-color: var(--bg-dark-1);
    border: 2px solid var(--secondary);
    text-decoration: none;
    color: var(--font-dark);
}

.secondary-outlined:hover {
    border: none;
    background-color: var(--secondary);
    text-decoration: none;
    color: var(--font-light);
}

/* -------------- */
.accent {
    background-color: var(--accent);
    text-decoration: none;
    color: var(--font-dark);
}

.accent-outlined {
    background-color: var(--bg-dark-1);
    border: 2px solid var(--accent);
    text-decoration: none;
    color: var(--font-dark);
}

/* Round border class ----------------------------------------------------- */
.r-1 {
    border-radius: var(--sm);
}

.r-2 {
    border-radius: var(--md);
}

.r-3 {
    border-radius: var(--lg);
}

.r-4 {
    border-radius: var(--xl);
}

.r-5 {
    border-radius: var(--xxl);
}

/* -------------- */
.r-l {
    border-top-left-radius: var(--md);
    border-bottom-left-radius: var(--md);
}

.r-t {
    border-top-left-radius: var(--md);
    border-top-right-radius: var(--md);
}

.r-r {
    border-top-right-radius: var(--md);
    border-bottom-right-radius: var(--md);
}

.r-b {
    border-bottom-left-radius: var(--md);
    border-bottom-right-radius: var(--md);
}

/* Margin class ----------------------------------------------------- */
.m-1 {
    margin: var(--sm);
}

.m-2 {
    margin: var(--md);
}

.m-3 {
    margin: var(--lg);
}

.m-4 {
    margin: var(--xl);
}

.m-5 {
    margin: var(--xxl);
}

.m {
    margin: auto;
}

/* -------------- */
.m-l-1 {
    margin-left: var(--sm);
}

.m-l-2 {
    margin-left: var(--md);
}

.m-l-3 {
    margin-left: var(--lg);
}

.m-l-4 {
    margin-left: var(--xl);
}

.m-l-5 {
    margin-left: var(--xxl);
}

/* -------------- */
.m-r-1 {
    margin-right: var(--sm);
}

.m-r-2 {
    margin-right: var(--md);
}

.m-r-3 {
    margin-right: var(--lg);
}

.m-r-4 {
    margin-right: var(--xl);
}

.m-r-5 {
    margin-right: var(--xxl);
}

/* -------------- */
.m-t-1 {
    margin-top: var(--sm);
}

.m-t-2 {
    margin-top: var(--md);
}

.m-t-3 {
    margin-top: var(--lg);
}

.m-t-4 {
    margin-top: var(--xl);
}

.m-t-5 {
    margin-top: var(--xxl);
}

/* -------------- */
.m-b-1 {
    margin-bottom: var(--sm);
}

.m-b-2 {
    margin-bottom: var(--md);
}

.m-b-3 {
    margin-bottom: var(--lg);
}

.m-b-4 {
    margin-bottom: var(--xl);
}

.m-b-5 {
    margin-bottom: var(--xxl);
}

/* Fonts ----------------------------------------------------- */
.f-l {
    color: var(--font-dark);
}

.f-d {
    color: var(--font-light);
}

.f-a {
    color: var(--accent);
}

/* BAckground Colors -------------------------------------------------*/
.bg-d {
    background-color: var(--bg-dark);
}

.bg-d1 {
    background-color: var(--bg-dark-1);
}

.bg-d2 {
    background-color: var(--bg-dark-2);
}

.bg-do {
    background-color: var(--bg-dark-Opacity);
}

/* -------------- */
.bg-l {
    background-color: var(--bg-light);
}

.bg-l1 {
    background-color: var(--bg-light-1);
}

.bg-l2 {
    background-color: var(--bg-light-2);
}

.bg-lo {
    background-color: var(--bg-light-Opacity);
}

/* -------------- */
.bg-img {
    background-repeat: no-repeat;
    background-size: cover;
}

/* Padding ----------------------------------------------------- */
.p-t-1 {
    padding-top: var(--sm);
}

.p-a {
    padding-left: var(--lg);
    padding-right: var(--lg);

}

/* Screen Sizes ----------------------------------------------------- */
@media all and (max-width: 1024px) {
    :root {
        --font-normal: 18px;
        --font-lg: 22px;
    }

    .nav-bar {
        flex-direction: row;
    }

    .nav-right {
        display: flex;
        flex-direction: row;
        right: auto;
        top: 0px;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 60px;
        background-color: var(--bg-dark-Opacity);
        border-bottom: var(--sm) solid;
        border-color: rgba(39, 39, 39, 0.5)
    }

    .pannel {
        max-width: 100%;
        max-height: 300px;
        margin: none;
        background-position: center;
    }

    .pannel:hover {
        max-width: 100%;
        max-height: 500px;
        margin: none;
        border-bottom: var(--xxl) solid;
        border-color: rgba(39, 39, 39, 0.5)
    }

    .pannel-hidden {
        display: none;
    }

    .flex-description {
        flex-direction: column;
        padding: var(--sm);
    }

    .about-box {
        display: none;
    }

    .text-block {
        top: 115px;
    }

    .portrait {
        width: 244px;
    }

}

@media all and (min-width: 1024px) and (max-width: 1280px) {
    :root {
        --font-normal: 18px;
        --font-lg: 22px;
    }

    .flex-description {
        flex-direction: column;
    }

    .portrait {
        width: 244px;
    }

    .about-box {
        margin: auto;
    }

    .text-block {
        top: 100px;
    }
}

@media all and (min-width: 1280px) and (max-width: 1920px) {

    .about-box {
        margin: auto;
    }

    .flex-description {
        flex-direction: column;
    }

    .text-block {
        top: 100px;
    }

    .portrait {
        width: 244px;
    }
}